USE [Trainsquare]
GO
/****** Object:  StoredProcedure [dbo].[Users_Select_ByCreatedBy]    Script Date: 8/14/2022 2:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Author: Amezcua, Abel
-- Create date: 
-- Description:	
-- Code Reviewer:


-- MODIFIED BY: author
-- MODIFIED DATE:12/1/2020
-- Code Reviewer: 
-- Note: 




ALTER PROC [dbo].[Users_Select_ByCreatedBy]

AS
/*


*/
BEGIN 


SELECT 1


END


