
.card-body-about-us
    {
        background-image: url('../../assets/images/about-people-photo-853168.jpg');
        background-color: #cccccc;
        color: white;
        text-align: center;
        color: white;
       
}



